.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Error-message {
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Field {
  margin-bottom: 16px;
}

.Brand-color {
  color: #166a4e;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  /*display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  text-align: left;
}

button {
  background-color: #166a4e;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}



