.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}

.field {
  margin-bottom: 16px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  text-align: left;
}

button {
  background-color: #166a4e;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.radio-label {
  margin: 0;
}

.radio-group {
  margin-top: 8px;
}

.radio-container {
  display: inline-block;
}

.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-container label {
  display: inline-block;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid black;
}

.radio-container input[type="radio"]:checked + label {
  background-color: #166a4e;
}

.radio-container:first-child label {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.radio-container:last-child label {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.radio-container:not(:last-child) label {
  border-right: none; 
}
